<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Mi Tienda MPJ{% endblock %}</title>
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1>Mi Tienda Online MPJ</h1>
            <ul>
                <li><a href="{{ path('producto_listado') }}">Productos</a></li>
                </ul>
        </nav>
        
        <div class="container mt-4 mb-4">
            <div id="react-buscador-avanzado"></div>
        </div>

    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Mi Tienda MPJ - Todos los derechos reservados</p>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
</body>
</html>